body {
    font-family: Arial;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background: #0077b6;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background: #023e8a;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
    background: white;
    border-radius: 10px;
    background: linear-gradient(290deg, #95f5ff,#95f5ff, yellow);
}

 .profile-img {
      width: 350px;
      height: 400px;
      border: 0px solid blue;
      border-radius: 2%;
    }

    .education-img{
      width: 350px;
      height: 200px;
      border: 0px solid red;
      border-radius: 2%; /* makes circle */
    }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

button {
    padding: 10px;
    margin: 5px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #3bff00;
}

footer {
    text-align: center;
    background: #03045e;
    color: white;
    padding: 10px;
}
input, button {
  width:90%;
  padding:10px; 
  margin:5px; 
  border-radius:5px;
}
textarea{
 width:90%;
 height: 100px;
  padding:10px; 
  margin:5px; 
  border-radius:5px;   
}
